# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Symfony

on:
  push:
    branches: [ "master","development"]
  pull_request:
    branches: [ "master","development" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    steps:
    #  To automatically get bug fixes and new Php versions for shivammathur/setup-php,
    # change this to (see https://github.com/shivammathur/setup-php#bookmark-versioning):
    # uses: shivammathur/setup-php@v2
    - uses: shivammathur/setup-php@2cb9b829437ee246e9b3cac53555a39208ca6d28
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --no-interaction
      
    - name: Create .env file
      run: |
        echo "APP_ENV=${{ secrets.APP_ENV }}" > .env
        echo "APP_SECRET=${{ secrets.APP_SECRET }}" >> .env
        echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
        echo "MAILER_DSN=${{ secrets.MAILER_DSN }}" >> .env
        echo "MAILER_FROM=${{ secrets.MAILER_FROM }}" >> .env
        echo "MAILER_TO=${{ secrets.MAILER_TO }}" >> .env
      env:
        APP_ENV: ${{ secrets.APP_ENV }}
        APP_SECRET: ${{ secrets.APP_SECRET }}
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        MAILER_DSN: ${{ secrets.MAILER_DSN }}
        MAILER_FROM: ${{ secrets.MAILER_FROM }}
        MAILER_TO: ${{ secrets.MAILER_TO }}
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Create SQLite database
      run: php bin/console doctrine:database:create --env=test --no-interaction

    - name: Run Migrations
      run: php bin/console doctrine:migrations:migrate --env=test --no-interaction

    - name: Load Fixtures
      run: php bin/console doctrine:fixtures:load --env=test --no-interaction

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      run: vendor/bin/phpunit

    - name: Clean up
      run: php bin/console doctrine:database:drop --force --env=test --no-interaction
