{% block body %}
	<p style="font-size: 16px; line-height: 1.6;">
		Welcome!
	</p>

	<p style="font-size: 16px; line-height: 1.6;">
		Your account have been created by an administrator. Below is your temporary password:
	</p>

	<div style="background-color: #f4f4f4; padding: 10px; font-size: 18px; text-align: center">
		<strong>{{ temporaryPassword }}</strong>
	</div>

	<p style="font-size: 16px; line-height: 1.6;">
		This password will expire in 48 hours. Please log in and update your password as soon as possible.
	</p>

	<p style="font-size: 16px; line-height: 1.6;">
		Best regards,<br>
		Your ToDo App Team
	</p>
{% endblock %}